/*Satwik Srivastava*/

i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 7em;
}
#delete{
    display:inline;
}

.footer-center{
    margin: auto;
}

#footer-para{
    align-items: center;
}