
<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
<form class="ui form" action="/blogs" method="POST">
    <div class="field">
        <label>Title</label>
        <input type="text" name="blog[title]" placeholder="Give a blog title">
    </div>
    <div class="field">
        <label>Image</label>
        <input type="text" name="blog[image]" placeholder="Enter the image url">
    </div>
     <div class="field">
        <label>Blog Content</label>
         <textarea name="blog[body]" placeholder="Write your blog here..."></textarea>
    </div>
    <button class="ui big primary button">Submit</button>
</form>
</div>





<% include ./partials/footer %>